<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <style>
            .parent { display: flex; align-items: center; }
            .child { width: 500px; margin: 0 auto; }
            form label, h5 { color: #fff; }
        </style>
        <title>Pycrum</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('root')}}">Pycrum</a>
        </nav>
        <div class="parent">
            <div class="child">
                <div style="background-color:dimgrey; padding: 50px;">
                <h5> Add Record Information </h5>
                <form action="{{url_for('add_record')}}" method="post" style="margin-top:25px">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="Account">Account</label>
                        <input type="number" class="form-control" id="Account" name="Account" placeholder="Account">
                    </div>
                    <div class="form-group">
                        <label for="Premise">Premise</label>
                        <input type="number" class="form-control" id="Premise" name="Premise" placeholder="Premise">
                    </div>
                    <div class="form-group">
                        <label for="Component_ID">Component ID</label>
                        <input type="Text" class="form-control" id="Component_ID" name="Component_ID"
                               placeholder="Comp ID">
                    </div>
                    <div class="form-group">
                        <label for="Component_Type">Component Type</label>
                        <input type="Text" class="form-control" id="Component_Type" name="Component_Type"
                               placeholder="Comp Type">
                    </div>
                    <div class="form-group">
                        <label for="Number_Accounted">Number Accounted</label>
                        <input type="Number" class="form-control" id="Number_Accounted" name="Number_Accounted"
                               placeholder="Number Accounted">
                    </div>
                    <div class="form-group">
                        <label for="Number_Off">Number Off</label>
                        <input type="Number" class="form-control" id="Number_Off" name="Number_Off"
                               placeholder="Number Off">
                    </div>
                    <div class="form-group">
                        <label for="Area">Area</label>
                        <input type="Text" class="form-control" id="Area" name="Area" placeholder="Area">
                    </div>
                    <div class="form-group">
                        <label for="Job_Set">Job Set</label>
                        <input type="Text" class="form-control" id="Job_Set" name="Job_Set" placeholder="Job Set">
                    </div>
                    <div class="form-group">
                        <label for="Latitude">Latitude</label>
                        <input type="Number" step="0.01" class="form-control" id="Latitude" name="Latitude"
                               placeholder="Latitude">
                    </div>
                    <div class="form-group">
                        <label for="Longitude">Longitude</label>
                        <input type="Number" step="0.01" class="form-control" id="Longitude" name="Longitude"
                               placeholder="Longitude">
                    </div>
                    <div class="row" style="margin-top:50px">
                        <button type="submit" class="btn btn-success btn-block">Add Record</button>
                    </div>
                    <div class="row" style="margin-top:25px">
                            <a class="btn btn-light btn-block" href="{{url_for('record_page')}}">Back</a>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>