<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <style>
            .parent { display: flex; align-items: center; height: 75vh; }
            .child { width: 500px; margin: 0 auto; }
            form label, h5 { color: #fff; }
        </style>
        <title>Pycrum</title>
    </head>

    <body>
        <div class="parent">
            <div class="child">
                <div style="border:solid 2px black; background-color:dimgrey; padding: 25px;">
                    <h5> Update Customer Information </h5>
                    <form action="{{url_for('update_customer')}}" method="post" style="margin-top:25px">
                        <input type="hidden" name="update_id" value="{{ data[0] }}">
                        <div class="form-group">
                        <label for="Name">Customer Name: {{ data[1] }}</label>
                        <input type="text" class="form-control" id="Name" name="update_name"
                               placeholder="New name">
                        </div>
                        <div class="form-group">
                        <label for="Address">Customer Address: {{ data[2] }}</label>
                        <input type="text" class="form-control" id="Address" name="update_address"
                               placeholder="New address">
                        </div>
                        <div class="form-group">
                        <label for="Account">Customer Account: {{ data[3] }}</label>
                        <input type="number" class="form-control" id="Account" name="update_account"
                               placeholder="New account number">
                        </div>
                        <div class="form-group">
                        <label for="Premise">Customer Premise Number: {{ data[4] }}</label>
                        <input type="number" class="form-control" id="Premise" name="update_premise"
                               placeholder="New premise number">
                        </div>
                        <div class="row justify-content-center" style="margin-top:35px">
                        <button type="submit" class="btn btn-primary btn-block">Update Customer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </body>
</html>
