<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pycrum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .row.content {height: 450px}
    .border { border:solid 2px black; background-color:grey; padding: 25px; }
    .spacing { padding: 75px; }
    .spacing_small { padding: 25px; }
    @media screen and (max-width: 767px) { .sidenav {height: auto; padding: 15px; }.row.content {height:auto;}}
  </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
          <a class="navbar-brand" href="/">Pycrum</a>
        </div>
      </div>
    </nav>

    {% include data %}

</body>
</html>
