<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <title>Pycrum</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('root')}}">Pycrum</a>
            <form class="form-inline" method=POST action={{url_for('search_record')}}>
                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search" name="search_this">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="row" style="margin-right:10px">
            <form class="form-inline" method=POST action={{url_for('add_record_page')}} style="margin-right:20px">
                <button class="btn btn-outline-success" type="submit">Add record</button>
            </form>
            <form class="form-inline" method=GET action={{url_for('map_page')}}>
                <button class="btn btn-outline-light" type="submit">Map</button>
            </form>
            </div>
        </nav>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Account Number</th>
                    <th>Premise Number</th>
                    <th>Component ID</th>
                    <th>Component Type</th>
                    <th>Number Accounted</th>
                    <th>Number Off</th>
                    <th>Area</th>
                    <th>Job Set</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in data %}
                <tr>
                    <td>{{ customer[2] }}</td>
                    <td>{{ customer[3] }}</td>
                    <td>{{ customer[4] }}</td>
                    <td>{{ customer[5] }}</td>
                    <td>{{ customer[6] }}</td>
                    <td>{{ customer[7] }}</td>
                    <td>{{ customer[8] }}</td>
                    <td>{{ customer[9] }}</td>
                    <td>{{ customer[10] }}</td>
                    <td>{{ customer[11] }}</td>
                    <td>
                        <form action="{{url_for('edit_record_page')}}" method="post">
                            <input type="hidden" name="edit_id" value="{{ customer[0] }}">
                            <input type="hidden" name="edit_name" value="{{ customer[2] }}">
                            <input type="hidden" name="edit_address" value="{{ customer[3] }}">
                            <input type="hidden" name="edit_account" value="{{ customer[4] }}">
                            <input type="hidden" name="edit_premise" value="{{ customer[5] }}">
                            <input type="hidden" name="edit_comp_id" value="{{ customer[6] }}">
                            <input type="hidden" name="edit_comp_type" value="{{ customer[7] }}">
                            <input type="hidden" name="edit_num_acc" value="{{ customer[8] }}">
                            <input type="hidden" name="edit_num_off" value="{{ customer[9] }}">
                            <input type="hidden" name="edit_area" value="{{ customer[10] }}">
                            <input type="hidden" name="edit_job_set" value="{{ customer[11] }}">
                            <input type="hidden" name="edit_location" value="{{ customer[1] }}">
                            <button type="submit" class="btn btn-outline-warning">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('delete_record_page')}}" method="post">
                            <input type="hidden" name="delete_id" value="{{ customer[0] }}">
                            <input type="hidden" name="delete_name" value="{{ customer[2] }}">
                            <input type="hidden" name="delete_address" value="{{ customer[3] }}">
                            <input type="hidden" name="delete_account" value="{{ customer[4] }}">
                            <input type="hidden" name="delete_premise" value="{{ customer[5] }}">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>