<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <title>Pycrum</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('root')}}">Pycrum</a>
        </nav>
        <div class="row justify-content-center" style="margin-top:25px; margin-bottom:10px">
            <h5> Preview Shape File Contents </h5>
        </div>
        <div class="container">
            {{ data|safe }}
        </div>
        <div class="row justify-content-center" style="margin-top:25px; margin-bottom:25px">
            <form class="form-inline" method=GET action={{url_for('root')}} style="margin-right:25px">
                <button class="btn btn-danger btn-block" type="submit">Cancel</button>
            </form>
            <form class="form-inline" method=POST action={{url_for('upload_page')}}>
                <button class="btn btn-success btn-block" type="submit">Save to database</button>
            </form>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>
</html>